<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="CreditNoteApp" ng-controller="CreditNoteController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="credit-note-generate.js"></script>
        <script type="text/javascript" src="/services/js/resources-core/services/loader.js?id=ide-view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/resources-core/services/loader.js?id=ide-view-css" />
        <theme></theme>
        <!-- <link rel="stylesheet" href="generate-credit-note.css"> -->
        <script type="text/javascript" src="generate-credit-note-controller.js">
        </script>
    </head>

    <body fd-scrollbar dg-contextmenu="contextMenuContent">
        <fd-panel expanded="true">
            <fd-panel-content aria-label="Inputs Panel Content">
                <fd-fieldset>
                    <fd-form-group style="display: flex; justify-content: center;">
                        <fd-form-item horizontal="false">
                            <fd-form-label for="net" dg-colon="true" dg-required="true">New Net</fd-form-label>
                            <fd-input id="net" type="text" placeholder="Here goes the new net." ng-model="net">
                            </fd-input>
                            <fd-button ng-click="submitCopy(net)" dg-label="Submit" dg-type="default">Submit
                            </fd-button>
                        </fd-form-item>
                    </fd-form-group>
                </fd-fieldset>
            </fd-panel-content>
        </fd-panel>
    </body>

</html>
